# Homelab host mappings
# host ip | host public domain
%{ for key, monitor in monitors ~}
${monitor.host} ${monitor.domain}
%{ endfor ~}
%{ for key, restaurant in restaurants ~}
${restaurant.host} ${restaurant.domain}
%{ endfor ~}