platform:
  monitor:
    name: ${monitor_name}
    role: monitoring
    host: ${monitor_host}
    domain: ${monitor_domain}
    services:
      - prometheus
      - grafana
      - blackbox-exporter

  restaurant:
    name: ${restaurant_name}
    role: restaurant-pos
    host: ${restaurant_host}
    domain: ${restaurant_domain}
    services:
      - nginx
      - pos-app
      - postgres
      - node-exporter
